<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aerele Petty Shop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style> 
    body {
      margin: 0;
      padding: 0px;
      padding-left:0px;
      padding-right: 170px;
      padding-bottom: 20px;
      display: flex;
      margin: auto;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background-color: #e1eaee; /* Background color */
      font-family: Arial, sans-serif;
     }
     </style>
     
</head>
<body>
    <div class="container">
      <center>
        <h1>Welcome to aerele petty shop!</h1>
      </br>
        <div class="col-md-8">
          <div class="col-md-4">
              <a href="{{ url_for('login') }}" class="btn btn-primary btn-block">Login</a>
          </div>
        </br>
          <div class="col-md-4">
              <a href="{{ url_for('register') }}" class="btn btn-primary btn-block">Register</a>
          </div>
        </div>
      </center>
    </div>
</body>
</html>
