<!DOCTYPE html>
<html>
<head>
    <title>View Added Items</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Your Added Items</h1>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>Item Name</th>
                    <th>Price</th>
                    <th>Remaining</th>
                </tr>
            </thead>
            <tbody>
                {% for item in added_items %}
                <tr>
                    <td>{{ item[1] }}</td>
                    <td>${{ item[2] }}</td>
                    <td>{{ item[4 ]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('home') }}" class="btn btn-primary mt-3">Back to Home</a>
    </div>
</body>
</html>

